/.bundle
/db/*.sqlite3*
/log/*.log
/tmp

/.sass-cache/
/log/newrelic*
/public/assets

/bin/*
!/bin/deploy

public/images/achievements/*
public/images/courses/*
public/images/prizes/*
public/images/screenshots/*
public/images/professors/*
public/uploads/*

*.sw*
config/database.yml

.DS_Store
/tags
coverage.data
coverage/*
public/system/*

users.csv
.dropbox
codepath.esproj/*

.rbenv
.powenv
.powder
.rspec

.rvmrc
.ruby-gemset
.yardoc

# OS X specific gem
vendor/cache/libv8*
